.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 350px;
  height: 100vh;
}

.side-bar-header {
  height: 150px;
  padding: 0 20px;
}

.lists {
  background-color: #2F3E51;
  height: calc(100vh - 150px);
  padding: 0 20px;
}

.log {
  background-color: #FFFFFF;
  width: calc(100vh - 350px);
}

.log-header {
  height: 150px;
  padding: 0 40px;
}

.documents {
  background-color: #FAFAFA;
  height: calc(100vh - 150px);
  padding: 46px 40px 0;
}