<div class="log-header">
 <div class="left-header">
   <div class="header-title">
     hogefuga
   </div>
 </div>
  <div class="right-header">
   <div class="header-button">
     <a href="#">編集</a>
   </div>
  </div>
</div>

<div class="documents">
</div>